.input-group {
  position: fixed;
  left: 670px;
  top: 300px;
}

.file-details {
  position: fixed;
  left: 670px;
  top: 340px;
  font-size: x-large;
}

.file-details li{
  white-space: nowrap;       /* keeps text on one line */
  overflow: hidden;          /* hides overflowed text */
  text-overflow: ellipsis;   /* adds "..." at the end */
  max-width: 250px;          /* adjust width to fit your layout */
  display: block;  
}

.img-preview {
  position: fixed;
  left: 1200px;
  top: 240px;  
}

.submit {
  position: fixed;
  left: 670px;
  top: 490px;  
  background-color: #4f8c00;
}

.submit:hover {
  border-color: #d6d8fa;
}